version: "3.8"

services:
  impact-service:
    build: .
    container_name: impact-service
    ports:
      - "8000:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - MONGO_DB=impact_db
      - USE_MOCK_WEATHER=true
      - USE_MOCK_SATELLITE=true
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:7
    container_name: impact-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
