services:
  impact-service:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - FLIGHT_SERVICE_URL=http://flight-service:5000
      - USE_MOCK_WEATHER=true
      - USE_MOCK_SATELLITE=true
    depends_on:
      - mongo
    networks:
      - app-network
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    networks:
      - app-network
networks:
  app-network:
volumes:
  mongo-data:
